body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
}

.frase {
    background-color: #FFB6DF !important; 
    padding: 40px 0;
    text-align: center;
    border-top: 5px solid #571b02; 
}

.frase p, .frase b {
    font-size: 2.5vw !important;
    color: #571b02 !important; 
}

main {
    background-color: #ffffff;
    margin: 3em 8em 4em 8em;
    padding: 3em 2em;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1), 0 -4px 12px rgba(0,0,0,0.08);
}

.contenedor-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
}

.columna {
    flex: 1 1 45%;
}

.servicio1,
.servicio3 {
    text-align: right;
}

.columna img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.columna h1 {
    font-size: 1.5vw;
    color: #333;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.columna p {
    color: #555;
    font-weight: 300;
    margin-bottom: 1em;
    font-size: 1.5vw;
}


.boton {
    background-color: #FFB6DF;
    color: #000;
    padding: 0.6em 1.2em;
    border: none;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: left;
    font-size: 1.5vw;
}

.boton:hover {
    background-color: #FFB6DF;
}

@media (max-width: 900px){
    body {
        margin-top: clamp(22vh, 22vh, 20vw);
    }

    main {
        margin: 3em 2em;
        padding: 1.5em 1em;
    }

    .contenedor-flex {
        flex-wrap: wrap;
        gap: 1em;
    }

    .columna {
        flex: 1 1 45%;
    }

    .columna img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .columna h1 {
        font-size: 2.5vw;
    }

    .columna p {
        font-size: 2vw;
    }

    .boton {
        font-size: 2vw;
        padding: 0.4em 0.8em;
    }

    .frase p, .frase b {
        font-size: 5vw !important;
    }
}
