.contenedor-principal {
    font-family: poppins, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    background-color: white;
    height: 100%;
}

.contenedor-flex {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-right: 2rem;
}

.frase {
    background-color: #FFB6DF !important; 
    padding: 40px 0;
    text-align: center;
    border-top: 5px solid #571b02; 
}

.frase p, .frase b {
    font-size: 2.5vw !important;
    color: #571b02 !important; 
}


.formulario input[type="text"],
.formulario input[type="tel"],
.formulario input[type="email"],
.formulario textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.opciones-contacto {
    display: flex;
    gap: 1rem;
    align-self: center;
}

.boton-enviar {
    background-color: #FFC5E4;
    color: #5C1D03;
    border: 2px solid #5C1D03;
    padding: 0.6rem 2rem;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    align-self: center;
}



.linea-vertical {
    width: 3px;
    background-color: #5C1D03;
    margin: 0 2rem;
    height: auto;
    min-height: 400px;
}

.contenedor-imagen {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 900px) {
    .contenedor-principal {
        padding: 1rem;
    }

    .contenedor-flex {
        flex-direction: column;
    }

    .formulario {
        padding-right: 0;
        width: 80%;
    }

    .formulario input[type="text"],
    .formulario input[type="tel"],
    .formulario input[type="email"],
    .formulario textarea {
        font-size: 3vw;
        padding: 0.8rem;
    }

    .formulario label {
        font-size: 3vw;
    }

    .boton-enviar {
        width: 100%;
        font-size: 3vw;
        padding: 0.8rem;
    }

    .linea-vertical,
    .contenedor-imagen {
        display: none;
    }

    
}