body {
    background-color: #f2f2f2;

}

.section {
    margin-bottom: 1em;
}

.frase {
    background-color: #FFB6DF !important; 
    padding: 40px 0;
    text-align: center;
    border-top: 5px solid #571b02; 
}

.frase p, .frase b {
    font-size: 2.5vw !important;
    color: #571b02 !important; 
}

.Contenedor-principal {
    text-align: center;
    width: 100%;
    font-family: 'Poppins', serif;
    font-style: normal;
}

.barra-busqueda {
    display: flex;
    max-width: 400px;
    margin: 1vw auto;
    border: 2px solid #FFC5E4;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.barra-busqueda input[type="text"] {
    flex: 1;
    border: none;
    padding: 0.6rem 1rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.barra-busqueda button {
    background-color: #FFC5E4;
    border: none;
    color: #ab274f;
    font-size: 1.2rem;
    padding: 0 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barra-busqueda button:hover {
    background-color: #FFC5E4;
}

.catalogo {
    display: flex;
    gap: 2%;
    margin: 2vw 4vh;
}

.Categoria {
    width: 20%;
    max-height: max-content;
    background-color: #FFC5E4;
    padding: 2vw 3vh;
    text-align: left;
}

.Categoria h2 {
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

.Categoria p {
    font-size: 1.2vw;
    margin: 0.5vh 0;
    cursor: pointer;
}

.Categoria p:hover {
    text-decoration: underline;
}

.matrizProducto {
    width: 80%;
    padding: 0 2vh 1vw 2vh;
}

.barra-filtro {
    background-color: #FFC5E4;
    align-items: center;
    gap: 2%;
    padding: 1vw;
    display: flex;
    width: 100%;
    font-size: 0.8rem;
    border-radius: 5px;
}

.barra-filtro-movil {
    display: none;
}

.Resultado{
    flex: 1;
    text-align: left;
}

.Ordenar {
    text-align: right;
    margin-right: 1vw;
}

.Lista {
    font-family: poppins, serif;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.4vw;
}


.grid-productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2vw; 
    max-width: 1100px;
    margin: 2vw auto;
}


.contenedor-producto {
    border: 2px solid #571b02;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
    aspect-ratio: 3/4; 
}


.contenedor-producto:hover {
    transform: scale(1.02);
}

.contenedor-imagen {
    width: 100%;
    aspect-ratio: 4/3; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}


.info {
    border-top: 2px solid #571b02;
    padding: 1vw 0;
    background-color: white;
}


.nombre-producto {
    font-size: 1rem;
    margin: 0;
    font-weight: 600;
    color: #571b02;
    text-align: center;
}


.precio-producto {
    font-size: 0.95rem;
    color: #000;
    margin: 0.3vw 0 0;
    text-align: center;
}

.contenedor-boton {
    text-align: center;
    margin-top: 2vw;
}

#verMasBtn {
    font-family: poppins, sans-serif;
    font-size: 2vw;
    padding: 0.8em 2em;
    background-color: #571b02;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#verMasBtn:hover {
    color: #571b02;
    background-color: #FFC5E4;
}

@media (max-width: 900px) {

    .frasetxt {
        font-size: clamp(0.7rem, 2vw, 1rem);
    }

    body {
        margin-top: clamp(20vh, 20vh, 50vw);
    }

    .catalogo {
        flex-direction: column;
        align-items: center;
    }

    .barra-busqueda {
        max-width: 50vw;
        margin: 1vw auto;
        border-radius: 20px;
        box-shadow: none;
        border: 1.5px solid #FFC5E4;
    }

    .barra-busqueda input[type="text"] {
        width: 100%;
        padding: 0.4rem 1rem;
    }

    .barra-busqueda button {
        width: auto;
        font-size: 2vw;
        padding: 0 1rem;
    }

    .Categoria{
        display: none;
    }

    .barra-filtro-pc {
        display: none;
    }
    .barra-filtro-movil {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1em;
    }

    .Lista{
        font-size: 0.7rem;
        width: clamp(60%, 80%, 100%);
    }

    .Ordenar, .CategoriasTxt {
        flex: 1;
        text-align: right;
    }


    .grid-productos {
    grid-template-columns: repeat(2, 1fr);
    }

}
